@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@400;500&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'poppins' ,  sans-serif;
}

body{
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-self: center;
  background-color: #4070f4;
}

.continer{
  background-color: white;
  max-width:990px;
  width: 100%;
  border-radius: 6px;
  position: relative;
  margin:85px;
  box-shadow: inset 1px 0px 5px #888888;

}
.title{
  text-align: center;
  padding-bottom: 20px;

}

.text{
  margin-top: 3px;
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 2px;
  box-shadow: 1px 0px 5px #888888;
  outline:none;
  border-radius: 6px;
  border-width:0px;
  padding-left: 10px;
  max-width: 500px;
  width:250px;
}

.box{
  display: flex;
  margin-left: 30px;
}

.left.right {
  width:50%;
  margin-top: 10px;
}
.right {

  margin-left:90px;
}
.left {
 
  margin-left: 90px;
}

.heading{
  font-size:smaller;
  color:red;
  border-radius: 30px;
}
